{% extends "layout.html" %}
{% block content %}
<div class="modal modal-signin position-static d-block bg-secondary py-5" tabindex="-1" role="dialog" id="modalSignin">
      <div class="modal-dialog" role="document">
        <div class="modal-content rounded-5 shadow">
          <div class="modal-header p-5 pb-4 border-bottom-0">
            <h2 class="fw-bold mb-0">Je namespace</h2>
          </div>

          <div class="modal-body p-5 pt-0">
              {% if message %}
              <div class="alert alert-success" role="alert">
                  {{message}}
              </div>
              {% endif %}
              <div class="form-floating mb-3">
                <input type="text" name="name" class="form-control rounded-4" id="floatingInput" placeholder="Je namespace" readonly="readonly" value="{{ns_name}}">
                <label for="floatingInput">Je namespace</label>
              </div>

              <a class="w-100 mb-2 btn btn-lg rounded-4 btn-primary" href="/gun-config">Gun kubectl config</a>
              <small class="text-muted">Sla dit bestandje op onder ~/.kube/config</small>

            </form>
          </div>
        </div>
      </div>
    </div>
{% endblock %}